<div class="container-fluid">
<h1>
  Select Time Slot
</h1>

<form>
 
  <div class="form-group">
    <h6>Please select the time-slot</h6>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="1"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios1" *ngIf = "this.black">
        9am - 10am 
      </label>
      <label class="form-check-label" id='red' for="exampleRadios1" *ngIf = "this.red">
        9am - 10am
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="2"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios2" *ngIf = "this.black1">
        10am - 11am
      </label>
      <label class="form-check-label" id='red' for="exampleRadios2" *ngIf = "this.red1">
        10am - 11am
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="3"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios3"  *ngIf = "this.black2">
        11am - 12pm
      </label>
      <label class="form-check-label" id='red' for="exampleRadios3" *ngIf = "this.red2">
        11am - 12pm
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="4"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}"  required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios4"  *ngIf = "this.black3">
        12pm - 1pm
      </label>
      <label class="form-check-label" id='red'  for="exampleRadios4" *ngIf = "this.red3">
        12pm - 1pm
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="5"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios5"  *ngIf = "this.black4">
        1pm - 2pm
      </label>
      <label class="form-check-label" id='red'  for="exampleRadios5" *ngIf = "this.red4">
        1pm - 2pm
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="6"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}"  required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios6"  *ngIf = "this.black5">
        2pm - 3pm
      </label>
        <label class="form-check-label" id='red'  for="exampleRadios6" *ngIf = "this.red5">
          2pm - 3pm
        </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="7"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios6"  *ngIf = "this.black6">
        3pm - 4pm
      </label>
      <label class="form-check-label" id='red'  for="exampleRadios6" *ngIf = "this.red6">
        3pm - 4pm
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" value="8"
        [(ngModel)]="authService.postjobs.job_type" [ngModelOptions]="{standalone: true}" required (click)="open(content)">
      <label class="form-check-label" for="exampleRadios6"  *ngIf = "this.black7">
        4pm - 5pm
      </label>
      <label class="form-check-label" id='red' for="exampleRadios6" *ngIf = "this.red7">
        4pm - 5pm
      </label>
    </div>
  
  </div>

  
</form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Job</h4>

    <button type="button" class="close btn btn-light" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"><img src="assets/img/Group 7018.svg" /></span>
    </button>
  </div>
  <hr />
  <div class="modal-body">
    <form [formGroup]="createForm" (ngSubmit)="save()">

      <div class="form-group">
        <label id="inputPosition">First Name *</label>
        <input type="text" required class="form-control" id="inputPosition" placeholder="First Name"
          [(ngModel)]="authService.postjobs.first" [ngModelOptions]="{standalone: true}" #position="ngModel"
          name="position">
        <small *ngIf="position.errors?.required" class="text-danger">Firstname is required</small>
      </div>
      <br />
      <div class="form-group">
        <label id="inputLocation">Last Name *</label>
        <input type="text" class="form-control" id="inputLocation" placeholder="Last Name"
          [(ngModel)]="authService.postjobs.last" [ngModelOptions]="{standalone: true}" #location="ngModel"
          name="location" required>
        <small *ngIf="location.errors?.required" class="text-danger">Lastname is required</small>

      </div>
      <br />
      <div class="form-group">
        <label id="inputSalary">Phone Number</label>
        <input type="text" class="form-control" id="inputSalary" placeholder="Phone Number"
          [(ngModel)]="authService.postjobs.number" [ngModelOptions]="{standalone: true}">
      </div>
      <br />

      
      

      <div class="modal-footer">
        <button type="button" style="background-color:white; border:1px solid red" class="close btn btn-light"
          aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span style="color:red;">CANCEL</span>
        </button>


   
        <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')"><span>SAVE</span></button>
        <!--(click)="modal.close('Save click')"-->
      </div>

    </form>
  </div>

</ng-template>